openapi: 3.2.0
info:
  title: DataRobot Projects API
  version: '2026-10-03'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-03: 18 operation(s) read from 15 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; DataRobot has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 16
    documentation: 2
    pages-with-code: 12
    pages-read: 15
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-03'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://docs.datarobot.com/en/docs/api/dev-learning/api-quickstart.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-mcp/agentic-tools-mcp.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-develop/agentic-get-started.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-develop/agentic-memory-service.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-mcp/agentic-mcp-dynamic-tool-registration.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-mcp/agentic-mcp-clients.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/overview.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/getting-started.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/quick-reference.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/development/setup.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/shell-completions.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/local-experimentation/index.html
  - https://docs.datarobot.com/en/docs/api/dev-learning/inbound-oauth-tokens.html
  - https://docs.datarobot.com/en/docs/api/dev-learning/restapi/multi-rest.html
  - https://docs.datarobot.com/en/docs/api/dev-learning/restapi/rest-cluster.html
servers:
- url: https://cli.datarobot.com
security:
- bearer: []
tags:
- name: Projects
paths:
  /api/v2/projects:
    get:
      operationId: get_api_v2_projects
      tags:
      - Projects
      summary: GET /api/v2/projects
      x-source: https://docs.datarobot.com/en/docs/api/dev-learning/api-quickstart.html
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl --location --request GET 'https://app.datarobot.com/api/v2/projects/'  --header 'Authorization: Bearer <YOUR_API_TOKEN>' \n Optional: DataRobot CLI ( dr auth login ) \n If you use the DataRobot CLI , run dr auth login to complete browser-based authentication and store settings under ~/.config/datarobot/drconfig.yaml (see Authentication management ). The Python client can read that file, so you "
    post:
      operationId: post_api_v2_projects
      tags:
      - Projects
      summary: Create the project
      x-source: https://docs.datarobot.com/en/docs/api/dev-learning/restapi/multi-rest.html
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV2ProjectsRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV2ProjectsResponse'
      x-evidence:
        kind: documentation
components:
  schemas:
    PostApiV2ProjectsResponse:
      type: object
      properties:
        id:
          type: string
          description: Identifier of the created project
    PostApiV2ProjectsRequest:
      type: object
      properties:
        file:
          type: string
          description: File to upload for the new project
      required:
      - file
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
