openapi: 3.2.0
info:
  title: DataRobot Install API
  version: '2026-10-03'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-03: 18 operation(s) read from 15 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; DataRobot has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 16
    documentation: 2
    pages-with-code: 12
    pages-read: 15
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-03'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://docs.datarobot.com/en/docs/api/dev-learning/api-quickstart.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-mcp/agentic-tools-mcp.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-develop/agentic-get-started.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-develop/agentic-memory-service.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-mcp/agentic-mcp-dynamic-tool-registration.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-mcp/agentic-mcp-clients.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/overview.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/getting-started.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/quick-reference.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/development/setup.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/shell-completions.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/local-experimentation/index.html
  - https://docs.datarobot.com/en/docs/api/dev-learning/inbound-oauth-tokens.html
  - https://docs.datarobot.com/en/docs/api/dev-learning/restapi/multi-rest.html
  - https://docs.datarobot.com/en/docs/api/dev-learning/restapi/rest-cluster.html
servers:
- url: https://cli.datarobot.com
security:
- bearer: []
tags:
- name: Install
paths:
  /install:
    get:
      operationId: get_install
      tags:
      - Install
      summary: GET /install
      x-source: https://docs.datarobot.com/en/docs/api/dev-learning/api-quickstart.html
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl https://cli.datarobot.com/install | sh\npip install datarobot datarobot-predict\ndr plugin install assist\n Windows (PowerShell): From CLI installation : \n irm https :// cli . datarobot . com / winstall | iex \n After install, run pip install datarobot datarobot-predict and dr plugin install assist in an environment where Python is available. If you have not set an endpoint and token yet, work th"
  /install.sh:
    get:
      operationId: get_install_sh
      tags:
      - Install
      summary: GET /install.sh
      x-source: https://docs.datarobot.com/en/docs/agentic-ai/cli/development/setup.html
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl --location https://taskfile.dev/install.sh ) \" -- -d -b /usr/local/bin\n Windows ¶ \n choco install go-task \n Setting up the development environment ¶ \n Clone the repository ¶ \n git clone https://github.com/datarobot-oss/cli.git\n cd cli\n Install development tools ¶ \n task dev-init\n This will install all necessary development tools including linters and code formatters. \n Build the CLI ¶ \n task "
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
