openapi: 3.2.0
info:
  title: DataRobot Oauth2 API
  version: '2026-10-03'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-03: 18 operation(s) read from 15 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; DataRobot has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 16
    documentation: 2
    pages-with-code: 12
    pages-read: 15
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-03'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://docs.datarobot.com/en/docs/api/dev-learning/api-quickstart.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-mcp/agentic-tools-mcp.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-develop/agentic-get-started.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-develop/agentic-memory-service.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-mcp/agentic-mcp-dynamic-tool-registration.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-mcp/agentic-mcp-clients.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/overview.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/getting-started.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/quick-reference.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/development/setup.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/shell-completions.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/local-experimentation/index.html
  - https://docs.datarobot.com/en/docs/api/dev-learning/inbound-oauth-tokens.html
  - https://docs.datarobot.com/en/docs/api/dev-learning/restapi/multi-rest.html
  - https://docs.datarobot.com/en/docs/api/dev-learning/restapi/rest-cluster.html
servers:
- url: https://cli.datarobot.com
security:
- bearer: []
tags:
- name: OAuth2
paths:
  /oauth2/token:
    post:
      operationId: post_oauth2_token
      tags:
      - OAuth2
      summary: Authenticate to the DataRobot API with an external IdP token
      description: Exchange an IdP access token for a short‑lived DataRobot access token using OAuth 2.0 token exchange.
      x-source: https://docs.datarobot.com/en/docs/api/dev-learning/inbound-oauth-tokens.html
      parameters:
      - name: grant_type
        in: query
        required: true
        schema:
          type: string
        description: urn:ietf:params:oauth:grant-type:token-exchange
      - name: subject_token
        in: query
        required: true
        schema:
          type: string
        description: Your IDP access token.
      - name: subject_token_type
        in: query
        required: true
        schema:
          type: string
        description: urn:ietf:params:oauth:token-type:access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostOauth2TokenRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostOauth2TokenResponse'
      x-evidence:
        kind: documentation
  /oauth2/token/{organizationid}:
    post:
      operationId: post_oauth2_token_organizationid
      tags:
      - OAuth2
      summary: POST /oauth2/token/{organizationId}
      x-source: https://docs.datarobot.com/en/docs/api/dev-learning/inbound-oauth-tokens.html
      parameters:
      - name: organizationid
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostOauth2TokenOrganizationidResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl --location -X POST  "https://YOUR_DATAROBOT_HOST/oauth2/token/ORGANIZATION_ID"  --header "Accept: application/json"  --header "Content-Type: application/x-www-form-urlencoded"  --data-urlencode "grant_type=urn:ietf:params:oauth:grant-type:token-exchange"  --data-urlencode "subject_token= ${ IDP_ACCESS_TOKEN } "  --data-urlencode "subject_token_type=urn:ietf:params:oauth:token-type:access_toke'
components:
  schemas:
    PostOauth2TokenOrganizationidResponse:
      type: object
      properties:
        Accept:
          type: string
    PostOauth2TokenResponse:
      type: object
      properties:
        access_token:
          type: string
          description: The DataRobot access token to use on API requests.
        token_type:
          type: string
          description: Always Bearer.
        expires_in:
          type: integer
          description: Lifetime of the token, in seconds.
        scope:
          type: string
          description: The granted scope. Inbound OAuth tokens carry the dr.impersonation scope.
    PostOauth2TokenRequest:
      type: object
      properties:
        grant_type:
          type: string
          description: urn:ietf:params:oauth:grant-type:token-exchange
        subject_token:
          type: string
          description: Your IDP access token.
        subject_token_type:
          type: string
          description: urn:ietf:params:oauth:token-type:access_token
      required:
      - grant_type
      - subject_token
      - subject_token_type
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
