openapi: 3.2.0
info:
  title: DataRobot Memory API
  version: '2026-10-03'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-03: 18 operation(s) read from 15 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; DataRobot has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 16
    documentation: 2
    pages-with-code: 12
    pages-read: 15
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-03'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://docs.datarobot.com/en/docs/api/dev-learning/api-quickstart.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-mcp/agentic-tools-mcp.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-develop/agentic-get-started.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-develop/agentic-memory-service.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-mcp/agentic-mcp-dynamic-tool-registration.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-mcp/agentic-mcp-clients.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/overview.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/getting-started.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/quick-reference.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/development/setup.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/shell-completions.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/local-experimentation/index.html
  - https://docs.datarobot.com/en/docs/api/dev-learning/inbound-oauth-tokens.html
  - https://docs.datarobot.com/en/docs/api/dev-learning/restapi/multi-rest.html
  - https://docs.datarobot.com/en/docs/api/dev-learning/restapi/rest-cluster.html
servers:
- url: https://cli.datarobot.com
security:
- bearer: []
tags:
- name: Memory
paths:
  /api/v2/memory/{memoryspaceid}/sessions/{sessionid}:
    patch:
      operationId: patch_api_v2_memory_memoryspaceid_sessions_sessionid
      tags:
      - Memory
      summary: PATCH /api/v2/memory/{memorySpaceId}/sessions/{sessionId}
      x-source: https://docs.datarobot.com/en/docs/agentic-ai/agentic-develop/agentic-memory-service.html
      parameters:
      - name: memoryspaceid
        in: path
        required: true
        schema:
          type: string
      - name: sessionid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchApiV2MemoryMemoryspaceidSessionsSessionidRequest'
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -X PATCH \"https://app.datarobot.com/api/v2/memory/MEMORY_SPACE_ID/sessions/SESSION_ID/\"  -H \"Authorization: Bearer <YOUR_DATAROBOT_API_TOKEN>\"  -H \"Content-Type: application/json\"  -d '{\"lifecycleStrategies\": [{\"type\": \"soft_delete\", \"trigger\": {\"never\": true}}]}' \n The strategies you pass replace the whole list , so send every strategy the session should keep, not just the one you are changi"
components:
  schemas:
    PatchApiV2MemoryMemoryspaceidSessionsSessionidRequest:
      type: object
      properties:
        lifecycleStrategies:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              trigger:
                type: object
                properties:
                  never:
                    type: boolean
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
