openapi: 3.1.0
info:
  title: DataRobot API
  version: '2026-10-03'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-03: 18 operation(s) read from 15 public documentation page(s) (each
    operation names its page in x-source). This is not the provider''s published contract; DataRobot has published no machine-readable contract
    that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 16
    documentation: 2
    pages-with-code: 12
    pages-read: 15
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-03'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://docs.datarobot.com/en/docs/api/dev-learning/api-quickstart.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-mcp/agentic-tools-mcp.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-develop/agentic-get-started.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-develop/agentic-memory-service.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-mcp/agentic-mcp-dynamic-tool-registration.html
  - https://docs.datarobot.com/en/docs/agentic-ai/agentic-mcp/agentic-mcp-clients.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/overview.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/getting-started.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/quick-reference.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/development/setup.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/shell-completions.html
  - https://docs.datarobot.com/en/docs/agentic-ai/cli/local-experimentation/index.html
  - https://docs.datarobot.com/en/docs/api/dev-learning/inbound-oauth-tokens.html
  - https://docs.datarobot.com/en/docs/api/dev-learning/restapi/multi-rest.html
  - https://docs.datarobot.com/en/docs/api/dev-learning/restapi/rest-cluster.html
servers:
- url: https://cli.datarobot.com
paths:
  /:
    get:
      operationId: get
      tags:
      - Api
      summary: GET /
      x-source: https://docs.datarobot.com/en/docs/api/dev-learning/api-quickstart.html
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl \n jq (optional, for readable JSON in examples) \n A DataRobot account \n DataRobot account: Access to a DataRobot instance\
          \ (cloud or Self-Managed). If you don't have an account, sign up at DataRobot or contact your organization's DataRobot administrator.\
          \ \n Git: For cloning templates (version 2.0+). Install Git from git-scm.com if not already installed. Verify installation: git --version\
          \ \n Task:"
  /Homebrew/install/HEAD/install.sh:
    get:
      operationId: get_Homebrew_install_HEAD_install_sh
      tags:
      - Homebrew
      summary: GET /Homebrew/install/HEAD/install.sh
      x-source: https://docs.datarobot.com/en/docs/agentic-ai/agentic-develop/agentic-get-started.html
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh ) \" # If homebrew is not already installed \n\
          \ Then, install the prerequisite tools with it: \n brew install datarobot-oss/taps/dr-cli uv pulumi/tap/pulumi go-task node git\n You\
          \ also need the Xcode Command Line Tools to compile some Python packages: \n xcode-select --install\n Linux users can install the prerequisite\
          \ tools us"
  /api/info:
    get:
      operationId: get_api_info
      tags:
      - Api
      summary: GET /api/info
      x-source: https://docs.datarobot.com/en/docs/agentic-ai/cli/quick-reference.html
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -s http://127.0.0.1:8090/api/info # Verify enabled features \n Setting \n Flag / env \n Default \n Port \n --port / DR_EXPERIMENT_PORT\
          \ \n 8090 \n Entity ID \n --entity-id / DR_EXPERIMENT_ENTITY_ID \n DATAROBOT_USE_CASE_ID in pulumi_config.json \n Evaluation tab \n\
          \ --enable-evaluation / DR_EXPERIMENT_ENABLE_EVALUATION=true \n Off \n See DataRobot experimentation plugin , Local tracing , and Batch\
          \ agent eva"
  /api/v2:
    get:
      operationId: get_api_v2
      tags:
      - Api
      summary: GET /api/v2
      x-source: https://docs.datarobot.com/en/docs/api/dev-learning/api-quickstart.html
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl --location -X GET \" ${ DATAROBOT_ENDPOINT } /projects\" --header \"Authorization: Bearer ${ DATAROBOT_API_TOKEN } \" \n\
          \ Windows: \n setx DATAROBOT_ENDPOINT \"https://app.datarobot.com/api/v2\" \nsetx DATAROBOT_API_TOKEN \"your_api_token\" \n Close and\
          \ reopen the terminal. To persist through the UI, search for \"Environment Variables\", then add DATAROBOT_ENDPOINT and DATAROBOT_API_TOKEN\
          \ under system varia"
  /api/v2/memory/{memoryspaceid}/sessions/{sessionid}:
    patch:
      operationId: patch_api_v2_memory_memoryspaceid_sessions_sessionid
      tags:
      - Api
      summary: PATCH /api/v2/memory/{memorySpaceId}/sessions/{sessionId}
      x-source: https://docs.datarobot.com/en/docs/agentic-ai/agentic-develop/agentic-memory-service.html
      parameters:
      - name: memoryspaceid
        in: path
        required: true
        schema:
          type: string
      - name: sessionid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchApiV2MemoryMemoryspaceidSessionsSessionidRequest'
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -X PATCH \"https://app.datarobot.com/api/v2/memory/MEMORY_SPACE_ID/sessions/SESSION_ID/\"  -H \"Authorization: Bearer <YOUR_DATAROBOT_API_TOKEN>\"\
          \  -H \"Content-Type: application/json\"  -d '{\"lifecycleStrategies\": [{\"type\": \"soft_delete\", \"trigger\": {\"never\": true}}]}'\
          \ \n The strategies you pass replace the whole list , so send every strategy the session should keep, not just the one you are changi"
  /api/v2/projects:
    get:
      operationId: get_api_v2_projects
      tags:
      - Api
      summary: GET /api/v2/projects
      x-source: https://docs.datarobot.com/en/docs/api/dev-learning/api-quickstart.html
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl --location --request GET 'https://app.datarobot.com/api/v2/projects/'  --header 'Authorization: Bearer <YOUR_API_TOKEN>'\
          \ \n Optional: DataRobot CLI ( dr auth login ) \n If you use the DataRobot CLI , run dr auth login to complete browser-based authentication\
          \ and store settings under ~/.config/datarobot/drconfig.yaml (see Authentication management ). The Python client can read that file,\
          \ so you "
    post:
      operationId: post_api_v2_projects
      tags:
      - Api
      summary: Create the project
      x-source: https://docs.datarobot.com/en/docs/api/dev-learning/restapi/multi-rest.html
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostApiV2ProjectsRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostApiV2ProjectsResponse'
      x-evidence:
        kind: documentation
  /datarobot-oss/cli/main/install.sh:
    get:
      operationId: get_datarobot_oss_cli_main_install_sh
      tags:
      - Datarobot Oss
      summary: GET /datarobot-oss/cli/main/install.sh
      x-source: https://docs.datarobot.com/en/docs/agentic-ai/cli/shell-completions.html
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -fsSL https://raw.githubusercontent.com/datarobot-oss/cli/main/install.sh | sh\n Interactive command : Recommended for\
          \ managing completions. \n This command detects your shell and installs completions to the appropriate location. \n dr self completion\
          \ install\n Manual installation : Recommended for advanced users. Follow the shell-specific instructions below. \n Interactive commands\
          \ ¶ \n The CLI pr"
  /datarobot-oss/cli/releases/latest/download/{downloadid}:
    get:
      operationId: get_datarobot_oss_cli_releases_latest_download_downloadid
      tags:
      - Datarobot Oss
      summary: GET /datarobot-oss/cli/releases/latest/download/dr-darwin-amd64
      x-source: https://docs.datarobot.com/en/docs/agentic-ai/cli/getting-started.html
      parameters:
      - name: downloadid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl -LO https://github.com/datarobot-oss/cli/releases/latest/download/dr-darwin-amd64

          chmod +x dr-darwin-amd64

          sudo mv dr-darwin-amd64 /usr/local/bin/dr'
        collapsed_from: 4 example path(s) differing only at downloadId
  /install:
    get:
      operationId: get_install
      tags:
      - Install
      summary: GET /install
      x-source: https://docs.datarobot.com/en/docs/api/dev-learning/api-quickstart.html
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl https://cli.datarobot.com/install | sh\npip install datarobot datarobot-predict\ndr plugin install assist\n Windows (PowerShell):\
          \ From CLI installation : \n irm https :// cli . datarobot . com / winstall | iex \n After install, run pip install datarobot datarobot-predict\
          \ and dr plugin install assist in an environment where Python is available. If you have not set an endpoint and token yet, work th"
  /install.sh:
    get:
      operationId: get_install_sh
      tags:
      - Install
      summary: GET /install.sh
      x-source: https://docs.datarobot.com/en/docs/agentic-ai/cli/development/setup.html
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl --location https://taskfile.dev/install.sh ) \" -- -d -b /usr/local/bin\n Windows ¶ \n choco install go-task \n Setting\
          \ up the development environment ¶ \n Clone the repository ¶ \n git clone https://github.com/datarobot-oss/cli.git\n cd cli\n Install\
          \ development tools ¶ \n task dev-init\n This will install all necessary development tools including linters and code formatters. \n\
          \ Build the CLI ¶ \n task "
  /mcp:
    get:
      operationId: get_mcp
      tags:
      - Mcp
      summary: GET /mcp
      x-source: https://docs.datarobot.com/en/docs/agentic-ai/agentic-mcp/agentic-tools-mcp.html
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: curl -i http://localhost:9000/mcp
  /oauth2/token:
    post:
      operationId: post_oauth2_token
      tags:
      - Oauth2
      summary: Authenticate to the DataRobot API with an external IdP token
      description: Exchange an IdP access token for a short‑lived DataRobot access token using OAuth 2.0 token exchange.
      x-source: https://docs.datarobot.com/en/docs/api/dev-learning/inbound-oauth-tokens.html
      parameters:
      - name: grant_type
        in: query
        required: true
        schema:
          type: string
        description: urn:ietf:params:oauth:grant-type:token-exchange
      - name: subject_token
        in: query
        required: true
        schema:
          type: string
        description: Your IDP access token.
      - name: subject_token_type
        in: query
        required: true
        schema:
          type: string
        description: urn:ietf:params:oauth:token-type:access_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostOauth2TokenRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostOauth2TokenResponse'
      x-evidence:
        kind: documentation
  /oauth2/token/{organizationid}:
    post:
      operationId: post_oauth2_token_organizationid
      tags:
      - Oauth2
      summary: POST /oauth2/token/{organizationId}
      x-source: https://docs.datarobot.com/en/docs/api/dev-learning/inbound-oauth-tokens.html
      parameters:
      - name: organizationid
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostOauth2TokenOrganizationidResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl --location -X POST  "https://YOUR_DATAROBOT_HOST/oauth2/token/ORGANIZATION_ID"  --header "Accept: application/json"  --header
          "Content-Type: application/x-www-form-urlencoded"  --data-urlencode "grant_type=urn:ietf:params:oauth:grant-type:token-exchange"  --data-urlencode
          "subject_token= ${ IDP_ACCESS_TOKEN } "  --data-urlencode "subject_token_type=urn:ietf:params:oauth:token-type:access_toke'
  /registeredDeployments:
    get:
      operationId: get_registeredDeployments
      tags:
      - Registereddeployments
      summary: Dynamic tool registration lets the MCP server discover DataRobot deployments and expose them as MCP tools automatically.
      x-source: https://docs.datarobot.com/en/docs/agentic-ai/agentic-mcp/agentic-mcp-dynamic-tool-registration.html
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRegistereddeploymentsResponse'
      x-evidence:
        kind: documentation
  /registeredDeployments/{deploymentId}:
    delete:
      operationId: delete_registeredDeployments_deploymentId
      tags:
      - Registereddeployments
      summary: Dynamic tool registration lets the MCP server discover DataRobot deployments and expose them as MCP tools automatically.
      x-source: https://docs.datarobot.com/en/docs/agentic-ai/agentic-mcp/agentic-mcp-dynamic-tool-registration.html
      parameters:
      - name: deploymentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
    put:
      operationId: put_registeredDeployments_deploymentId
      tags:
      - Registereddeployments
      summary: Dynamic tool registration lets the MCP server discover DataRobot deployments and expose them as MCP tools automatically.
      x-source: https://docs.datarobot.com/en/docs/agentic-ai/agentic-mcp/agentic-mcp-dynamic-tool-registration.html
      parameters:
      - name: deploymentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
  /uv/install.sh:
    get:
      operationId: get_uv_install_sh
      tags:
      - Uv
      summary: GET /uv/install.sh
      x-source: https://docs.datarobot.com/en/docs/agentic-ai/agentic-develop/agentic-get-started.html
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: curl -LsSf https://astral.sh/uv/install.sh | sh
components:
  schemas:
    PatchApiV2MemoryMemoryspaceidSessionsSessionidRequest:
      type: object
      properties:
        lifecycleStrategies:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              trigger:
                type: object
                properties:
                  never:
                    type: boolean
    PostApiV2ProjectsRequest:
      type: object
      properties:
        file:
          type: string
          description: File to upload for the new project
      required:
      - file
    PostApiV2ProjectsResponse:
      type: object
      properties:
        id:
          type: string
          description: Identifier of the created project
    PostOauth2TokenRequest:
      type: object
      properties:
        grant_type:
          type: string
          description: urn:ietf:params:oauth:grant-type:token-exchange
        subject_token:
          type: string
          description: Your IDP access token.
        subject_token_type:
          type: string
          description: urn:ietf:params:oauth:token-type:access_token
      required:
      - grant_type
      - subject_token
      - subject_token_type
    PostOauth2TokenResponse:
      type: object
      properties:
        access_token:
          type: string
          description: The DataRobot access token to use on API requests.
        token_type:
          type: string
          description: Always Bearer.
        expires_in:
          type: integer
          description: Lifetime of the token, in seconds.
        scope:
          type: string
          description: The granted scope. Inbound OAuth tokens carry the dr.impersonation scope.
    PostOauth2TokenOrganizationidResponse:
      type: object
      properties:
        Accept:
          type: string
    GetRegistereddeploymentsResponse:
      type: object
      properties:
        deployments:
          type: array
          description: List of registered deployments, each with deploymentId and toolName.
        count:
          type: integer
          description: Number of registered deployments.
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
security:
- bearer: []
tags:
- name: Api
- name: Datarobot Oss
- name: Homebrew
- name: Install
- name: Mcp
- name: Oauth2
- name: Registereddeployments
- name: Uv
